.sento{
  color:black; text-align:center; 
}
header{
background-color:yellow; 
 margin:1000 1000 1000 1000;
}

.first{
  display:flex;
  flex-wrap: wrap;
}
.first li{
  list-style:none;
  width:calc(100%/2);
  padding:10px 110px;
 box-sizing: border-box;
 text-align: center;
}
.first li img{
  max-width:100%;
  height:auto;
  border:solid 1px #ccc;
}

.title{
  display:flex;
  flex-wrap:wrap;
}

.title li{
  list-style:none;
  font-size :30px;
  font-weight:900;
  width:calc(100%/2);
  padding:10px 120px;
  box-sizing:border-box;
  text-align: center;
}

.content{
  display:flex;
  flex-wrap:wrap;
}

.content li{
  list-style: none ;
  font-size:20px;
  font-weight:600;
  width:calc(100%/2);
  padding:10px 120px;
  box-sizing:border-box;
  text-align: center;
}

.member{
  display:flex;
  flex-wrap:wrap;
}

.member li{
  list-style:none;
  font-size:20px;
  font-weight:600;
  width:calc(100%/2);
  padding:10px 120px;
  box-sizing:border-box;
  text-align: center;
}

.footer{
  background-color: yellow;
  padding: 75px 50px;
  height: 30px;
}
.footer li{
  list-style: none;
  text-align: right;
}
